/* layout breakpoints */

/* lg */
@media only screen and (min-width: 960px) {}

/* md */
@media only screen and (min-width: 640px) {}

/* sm */
@media only screen and (min-width: 480px) {}

/* font & space breakpoints */
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 1280px) {}

/* font */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 1.2667;
    font-weight: normal;
}

h1,
h2 {
    margin-bottom: 16px;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
    line-height: 1.1875;
}
h6 {
    font-size: 14px;
}
p {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 1.4;
}
small {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 1.2;
}

/* layout container/section */

.container-fluid {
    position: relative;
}

.container {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
}

.section {
    position: relative;
    max-width: 1280px;
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

.section-head {
    position: relative;
}
.section-title {
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
    line-height: 1;
    color: red;
    margin-bottom: 16px;
}
.section-subtitle {
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    line-height: 1;
    color: red;
    margin-bottom: 12px;
}

@media only screen and (max-width: 960px) {
    .section {
        max-width: 720px;
    }
}
@media only screen and (max-width: 640px) {
    .section {
        max-width: 440px;
    }
}

/* helpers */
hr {
    position: relative;
    display: block;
    margin-top: 0;
    border: 0;
    height: 0;
    width: 100%;
    margin-bottom: 16px;
}


hr,
hr.tiny ,
hr[tiny],
hr[data-tiny] {
    height: 1px;
    background-color: #DDD;
}

hr[stroke],
hr[data-stroke],
hr.stroke {
    height: 2px;
    background-color: #C4C4C4;
}

hr[compact],
hr[data-compact],
hr.compact {
    margin-bottom: 10px;
}

.shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

.outline * {
    outline: 1px solid purple;
}

.br-left::after {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    left: -10px;
    bottom: 0;
    width: 1px;
    background-color: #DDD;
}
.br-right::after {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    right: -10px;
    bottom: 0;
    width: 1px;
    background-color: #DDD;
}

.pb-0 {padding-bottom: 0 !important;}
.pb-10 {padding-bottom: 10px !important;}
.mb-0  {margin-bottom: 0 !important;}
.mb-8  {margin-bottom: 8px !important;}
.mb-10  {margin-bottom: 10px !important;}
.mb-12 {margin-bottom: 12px !important;}
.mb-16 {margin-bottom: 16px !important;}


/* grid box */
.grid-box {
    display: grid;
    margin: 0 -10px;
    grid-template-columns: 1fr;
}
.grid-box.x16 {
    grid-template-columns: repeat(16, 1fr);
}
.grid-box.x12 {
    grid-template-columns: repeat(12, 1fr);
}
@media only screen and (min-width: 480px) {
    .grid-box.x16-sm {
        grid-template-columns: repeat(16, 1fr);
    }
    .grid-box.x12-sm {
        grid-template-columns: repeat(12, 1fr);
    }
}
@media only screen and (min-width: 640px) {
    .grid-box.x16-md {
        grid-template-columns: repeat(16, 1fr);
    }
    .grid-box.x12-md {
        grid-template-columns: repeat(12, 1fr);
    }
}
@media only screen and (min-width: 960px) {
    .grid-box.x16-lg {
        grid-template-columns: repeat(16, 1fr);
    }
    .grid-box.x12-lg {
        grid-template-columns: repeat(12, 1fr);
    }
}
    
.grid-item {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;
    min-height: 1px;
    order: 1;
    box-sizing: border-box;
}
.grid-item .grid-item {
    padding-bottom: 0;
}

.grid-item.br-left::after {
    left: 0;
}
.grid-item.br-right::after {
    right: 0;
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}
.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}
.grid-6 {
    grid-template-columns: repeat(4, 1fr);
}
.grid-8 {
    grid-template-columns: repeat(8, 1fr);
}
@media only screen and (min-width: 480px) {
    .grid-2-sm {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-4-sm {
        grid-template-columns: repeat(4, 1fr);
    }
    .grid-6-sm {
        grid-template-columns: repeat(6, 1fr);
    }
    .grid-8-sm {
        grid-template-columns: repeat(8, 1fr);
    }
}
@media only screen and (min-width: 640px) {
    .grid-2-md {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-4-md {
        grid-template-columns: repeat(4, 1fr);
    }
    .grid-6-md {
        grid-template-columns: repeat(6, 1fr);
    }
    .grid-8-md {
        grid-template-columns: repeat(8, 1fr);
    }
}
@media only screen and (min-width: 960px) {
    .grid-2-lg {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-4-lg {
        grid-template-columns: repeat(4, 1fr);
    }
    .grid-6-lg {
        grid-template-columns: repeat(6, 1fr);
    }
    .grid-8-lg {
        grid-template-columns: repeat(8, 1fr);
    }
}

/* spans columns */
.sp,
.sp-x {
    grid-column: 1 / -1;
}
.sp-x2 {
    grid-column: 2 span;
}
.sp-x3 {
    grid-column: 3 span;
}
.sp-x4 {
    grid-column: 4 span;
}
.sp-x5 {
    grid-column: 5 span;
}
.sp-x6 {
    grid-column: 6 span;
}
.sp-x7 {
    grid-column: 7 span;
}
.sp-x8 {
    grid-column: 8 span;
}
.sp-x9 {
    grid-column: 9 span;
}
.sp-x10 {
    grid-column: 10 span;
}
.sp-x11 {
    grid-column: 11 span;
}
.sp-y {
    grid-row: 1 / -1;
}

@media only screen and (min-width: 480px) {
    .sp-x-sm {
        grid-column: 1 / -1;
    }
    .sp-x2-sm {
        grid-column: 2 span;
    }
    .sp-x3-sm {
        grid-column: 3 span;
    }
    .sp-x4-sm {
        grid-column: 4 span;
    }
    .sp-x5-sm {
        grid-column: 5 span;
    }
    .sp-x6-sm {
        grid-column: 6 span;
    }
    .sp-x7-sm {
        grid-column: 7 span;
    }
    .sp-x8-sm {
        grid-column: 8 span;
    }
    .sp-x9-sm {
        grid-column: 9 span;
    }
    .sp-x10-sm {
        grid-column: 10 span;
    }
    .sp-x11-sm {
        grid-column: 11 span;
    }
}

@media only screen and (min-width: 640px) {
    .sp-x-md {
        grid-column: 1 / -1;
    }
    .sp-x2-md {
        grid-column: 2 span;
    }
    .sp-x3-md {
        grid-column: 3 span;
    }
    .sp-x4-md {
        grid-column: 4 span;
    }
    .sp-x5-md {
        grid-column: 5 span;
    }
    .sp-x6-md {
        grid-column: 6 span;
    }
    .sp-x7-md {
        grid-column: 7 span;
    }
    .sp-x8-md {
        grid-column: 8 span;
    }
    .sp-x9-md {
        grid-column: 9 span;
    }
    .sp-x10-md {
        grid-column: 10 span;
    }
    .sp-x11-md {
        grid-column: 11 span;
    }
}

@media only screen and (min-width: 960px) {
    .sp-x-lg {
        grid-column: 1 / -1;
    }
    .sp-x2-lg {
        grid-column: 2 span;
    }
    .sp-x3-lg {
        grid-column: 3 span;
    }
    .sp-x4-lg {
        grid-column: 4 span;
    }
    .sp-x5-lg {
        grid-column: 5 span;
    }
    .sp-x6-lg {
        grid-column: 6 span;
    }
    .sp-x7-lg {
        grid-column: 7 span;
    }
    .sp-x8-lg {
        grid-column: 8 span;
    }
    .sp-x9-lg {
        grid-column: 9 span;
    }
    .sp-x10-lg {
        grid-column: 10 span;
    }
    .sp-x11-lg {
        grid-column: 11 span;
    }
}

/* hidden */
.hidden {
    visibility: hidden !important;
    display: none !important;
}
@media only screen and (max-width: 480px) {
    .hidden-sm {
        visibility: hidden !important;
        display: none !important;
    }
}
@media only screen and (max-width: 640px) {
    .hidden-md {
        visibility: hidden !important;
        display: none !important;
    }
}
@media only screen and (max-width: 960px) {
    .hidden-lg {
        visibility: hidden !important;
        display: none !important;
    }
}
    

/* orders */
.order-0 {
    order: 0;
}
.order-1 {
    order: 1;
}
.order-2 {
    order: 2;
}
@media only screen and (min-width: 480px) {
    .order-0-sm {
        order: 0;
    }
    .order-1-sm {
        order: 1;
    }
    .order-2-sm {
        order: 2;
    }
}
@media only screen and (min-width: 640px) {
    .order-0-md {
        order: 0;
    }
    .order-1-md {
        order: 1;
    }
    .order-2-md {
        order: 2;
    }
}
@media only screen and (min-width: 960px) {
    .order-0-lg {
        order: 0;
    }
    .order-1-lg {
        order: 1;
    }
    .order-2-lg {
        order: 2;
    }
}

/* panel home */
.panel {
    position: relative;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}
.panel-container {
    position: relative;
    max-width: 1280px;
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media only screen and (max-width: 960px) {
    .panel-container {
        max-width: 720px;
    }
}
@media only screen and (max-width: 640px) {
    .panel-container {
        max-width: 440px;
    }
}

/* card */
.card-flex {
    display: flex;
    flex-direction: column;
}
.card-wrapper {
    position: relative;
    display: block;
    width: 100%;
}

.card {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.card + .card {
    margin-top: 20px;
}
.card-media {
    position: relative;
    margin-bottom: 16px;
}
.card-media img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 0;
}
.card-body {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.card-category {
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: red;
    text-transform: uppercase;
}
.card-category span {
    display: inline-block;
    vertical-align: middle;
}
.card-category i.icon-box {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    width: 11px;
    height: 11px;
    margin-right: 8px;
    background-color: red;
}
.card-title {
    color: black;
    font-weight: bold;
}
.card-description {
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 16px;
}
.card-description p {
    margin: 0;
}
.card-info {
    margin-top: auto;
    font-size: 14px;
    font-weight: 300;
    color: #aaa;
}

/* .card-big {} */
.card-big .card-media {
    margin-bottom: 0;
}
.card-big .card-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.card-big .card-info {
    margin-top: 0;
}
@media only screen and (max-width: 960px) {
    .card-big .card-media {
        margin-bottom: 16px;
    }
}